body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  width: 100%;
  heigth: 100%;
}

.side_menu {
  display: block;
  flex-direction: column;
  background: #222222;
  width: 200px;
  transform: translateX(200px);
  height: 100%;
  right: 0;
  top: 0;
  position: fixed;
  transition: 500ms;
}

.side_menu__links a {
  color: #FFB325;
}

.activated {
  transform: translateX(0px);
}

.side_menu__links {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30%;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
  border-bottom: 25px solid #2F2C2C;
}

@media (max-width: 690px) {
  .arrow-up {
    display: block;
  }
}
